<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Comprar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="conteudo animate__animated animate__fadeInLeft">
  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img
          src="https://m.media-amazon.com/images/I/61y5iLUKS3L._SY466_.jpg"
        />
      </ion-thumbnail>
      <ion-label>Melhor do que nos filmes</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img
          src="https://m.media-amazon.com/images/I/71wdbq8NbFL._SY466_.jpg"
        />
      </ion-thumbnail>
      <ion-label>Nada pode me ferir</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img
          src="https://m.media-amazon.com/images/I/814pUv-EGbL._SY342_.jpg"
        />
      </ion-thumbnail>
      <ion-label>As mil partes do meu coração</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
  <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img
        src="	https://m.media-amazon.com/images/I/81LTEfXYgcL._SY342_.jpg"
      />
    </ion-thumbnail>
    <ion-label>A hipótese do amor</ion-label>
  </ion-item>
</ion-card>

<ion-card>
<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img
      src="https://m.media-amazon.com/images/I/81Dy0r1HLIL._SY466_.jpg"
    />
  </ion-thumbnail>
  <ion-label>Era uma vez um coração partido</ion-label>
</ion-item>
</ion-card>

<ion-card>
<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img
      src="https://m.media-amazon.com/images/I/81bkmJnflPL._SY342_.jpg"
    />
  </ion-thumbnail>
  <ion-label>A razão do amor</ion-label>
</ion-item>
</ion-card>

<ion-card>
<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img
      src="https://m.media-amazon.com/images/I/910MCHGXJcL._SY342_.jpg"
    />
  </ion-thumbnail>
  <ion-label>O canto mais escuro da floresta</ion-label>
</ion-item>
</ion-card>

<ion-card>
<ion-item lines="none">
  <ion-thumbnail slot="start">
    <img
      src="https://m.media-amazon.com/images/I/81qMLIEhMYL._SY342_.jpg"
    />
  </ion-thumbnail>
  <ion-label>Corte de espinhos e rosas (Vol. 1)</ion-label>
</ion-item>
</ion-card>

</div>
</ion-content>
